<!DOCTYPE html>
<html>

<head>
    <title>PhishShield URL Risk Analyzer</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>🛡️ PhishShield</h1>

    <h2>Advanced URL Risk Analyzer</h2>

    <p>
        Detect phishing websites using
        heuristic analysis and VirusTotal threat intelligence.
    </p>

    <form action="/analyze" method="POST">

        <input
            type="text"
            name="url"
            placeholder="Enter URL (https://example.com)"
            required>

        <button type="submit">
            Analyze URL
        </button>

    </form>

</div>

</body>

</html>