<!DOCTYPE html>
<html>

<head>
    <title>PhishShield</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>🛡️ PhishShield URL Risk Analyzer</h1>

        <p>
            Enter a website URL to analyze whether it may be phishing.
        </p>

        <form>

            <input
                type="text"
                placeholder="https://example.com"
            >

            <button>
                Analyze URL
            </button>

        </form>

    </div>

</body>

</html>